torch
torchvision
fvcore
xformers
torchmetrics==0.10.3
blenderproc==2.6.1
opencv-python 
ISM 
omegaconf
ruamel.yaml
hydra-colorlog
hydra-core
gdown
pandas
imageio
pyrender
pytorch-lightning
pycocotools 
distinctipy
# git+https://github.com/facebookresearch/segment-anything.git  # SAM
ultralytics
PEM
timm
gorilla-core==0.2.7.8
trimesh==4.0.8
gpustat==1.0.0
imgaug
einops